.App {
  margin: 0 10% 0 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding: 50px;
}

ul {
  list-style-type: none;
}

nav img {
  width: 150px;
}

.nav-links {
  width: 40%;
}

.nav-ul li {
  float: left;
  margin-left: 40px;
}

.nav-ul li:first-child {
  margin-left: 0;
} 

.login {
  margin: auto 0 auto 0;
}

.login a {
  margin-left: 30px;
}

.unique {
  padding: 20px 30px 20px 30px;
  background-color: #133416;
  border-radius: 5px;
  color: white;
  max-width: fit-content;
}

.dropdown-menu {
  display: block;
  position: absolute;
  width: 450px;
  height: 310px;
  padding: 20px;
  top: 130px;
  left: 570px;
  background-color: white;
  border-radius: 15px;
}

.dropdown-menu li {
  display: flex;
  flex-direction: row;
  float: none;
  margin: 0;
  height: 60px;
  font-size: 0.8em;
  padding: 20px;
}

.dropdown-menu li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.dropdown-link-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dropdown-link-text p {
  margin: 0;
}
.dropdown-link-text p:first-child {
  font-weight: bold;
  color: black;
}

.dropdown-menu::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid white;
  position: absolute;
  top: -16px;
  left: 113px;
}

.active {
  visibility: hidden;
}

.open {
  visibility: visible;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5% 2% 0 2%;
}

.content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;
  padding-right: 10%;
  height: 500px;
}

.content-text h1 {
  color: black;
  font-size: 5em;
  margin: 0;
}

.content-text h1 span {
  color: rgb(239, 176, 0);
}

.content-text p {
  font-size: 1.35em;
  margin: 0;
}

.content-text div {
  display: flex;
  flex-direction: row;
}
.content-text div img {
  width: 30px;
  height: 30px;
  margin: auto 0 auto 20px;
}
.content img {
  width: 400px;
  height: 500px;
}

.content-end {
  margin-top: 100px;
}
.content-end p {
  text-align: center;
  margin-bottom: 20px;
}
.company-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}