@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto&display=swap');
* {
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #7B7672;
}
body {
  background-color: #F4EDE5;
}


